.security-policies-alert {
  top: $calc-application-header-height;
  z-index: 1;
}

.security-policies-popover-content-height {
  height: 12rem;
}

.security-policies-textarea-min-height {
  min-height: 200px;
}

.security-policies-license-modal-min-height {
  min-height: 500px;
}

.security-policies-approver-max-width {
  max-width: 330px;
}

.security-policies-bg-subtle {
  @apply gl-bg-subtle;
}

.security-policies {
  grid-template-areas: 'content sidebar';
  grid-template-columns: 1fr $right-sidebar-width;
  grid-gap: $gl-spacing-scale-5;

  @include media-breakpoint-up(lg) {
    grid-gap: 0 $gl-spacing-scale-7;
  }
}

.security-policies-new-yaml-format {
  grid-template-areas: 'content sidebar';
  grid-template-columns: 1fr 350px;
  grid-gap: $gl-spacing-scale-5;

  @include media-breakpoint-up(lg) {
    grid-gap: 0 $gl-spacing-scale-7;
  }
}

.security-policies-content,
.security-policies-actions {
  grid-area: content;
  grid-row: auto;
}

.security-policies-sidebar {
  grid-area: sidebar;
}
